#title {
    color:orange;
}

#head {
    text-align: right;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

#text1 {
    text-align: left;
}

#text2 {
    text-align: right;
    color: blue;
    font-family: "Courier New", Courier, monospace;
}