.BODY{ margin: 0%;}
.container {

    border: 15px solid orange;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}

.box {
 padding: 10px;
    color: white;
    font-size:90px;
    text-align:center;
  
}