
.parent{
border: 8px solid gold;
height:100%;
display:grid;
grid-template-columns:repeat(9,1fr);
grid-template-rows:200px;
}
.box{
   
   
    color:white;
    font-size:50px;
    text-align: center;

} 