
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 15px solid white;
}

.div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.div1 {
    width: 32%;
    height: 150px;
}