.body{
    background-color: white;
    padding: 20px;
}
.BOX1{
display:grid;
grid-template-columns: repeat(3,1fr);
gap:15px;
width: 1000px;
}
.box{ 
  border: 2px solid black;
  flex-direction: column;
  display: flex;
}
.heading{
  font-size:20px;
}
.image{
  width:100%; 
  height: 280px;

}
.pargraph{
  padding: 12px;
  margin: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-size :20px ;
 
}

.pargraph1{
  background-color: rgb(85, 82, 82);
  margin-top: auto;
  color: aliceblue;
  padding: 20px 40px;

}