body {
    font-family: Arial;
}

table {
    border-spacing: 6px;
}
td {
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px 12px;
    background-color: white;
    font-size: 14px;
    color:black;
}