body{
    margin: 0;
}
.cont{
    height: 100dvh;
    color: white;
    display: flex;
}
.first,.second{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
#first{
    background-color:orange;
}
#second{
    background-color:blue;
}