.body{
    margin: 0;
}
.parent{
    height: 100dvh;
    color: white;
    display: flex;
}
.color{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}